h1 {
    text-align: left;
    padding: 0 2rem;
    margin: 1rem 0 0;
}
.productList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: center;
}


.productItem{
    border: 1px solid #ccc;
    list-style: none;
    padding: 1rem;
    margin: 1rem 1rem 0 0;
    width: 17%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-radius: 0.5rem;
}

.productList li div {
    width: 100%;
}

.productList li div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    text-align: center;
}

img {
    width: 100px;
}
button {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    height: 50px;
    margin: 1rem 0 0;
}

span {
    display: block;
}

.main{
    width: 100%;
    height: auto;
    display: block;
}